<!--!
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="bh_admin.html"/>
  <head>
    <title>Repositories</title>
  </head>

  <body>
    <h2>Manage Repositories</h2>

    <py:def function="type_field(editable, inline=False, selected=None)">
        <div class="control-group" py:strip="inline">
          <label class="control-label" for="trac-type">Type:</label>
          <div class="controls" py:strip="inline">
            <select class="input-medium" size="1" id="trac-type" name="type"
                    disabled="${not editable or None}">
              <option py:for="type in types" value="$type" selected="${type == selected or None}">${type or _('(default)')}</option>
              <option py:if="selected and selected not in types" selected="selected">$selected</option>
            </select>
            <p class="help-inline" >
              <span class="label label-info">Default</span> $default_type
            </p>
          </div>
        </div>
    </py:def>

    <py:def function="alias_field(editable, inline=False, selected=None)">
        <div class="control-group" py:strip="inline">
          <label class="control-label" for="trac-repository">Repository:</label>
          <div class="controls" py:strip="inline">
            <select class="input-medium" size="1" id="trac-repository"
                    name="alias" disabled="${not editable or None}">
              <option py:for="(reponame, info) in sorted(repositories.iteritems())" py:if="not info.alias"
                      value="$info.name" selected="${info.name == selected or None}">${info.name or _('(default)')}</option>
              <option py:if="selected is not None and selected not in repositories" selected="selected">$selected</option>
            </select>
          </div>
        </div>
    </py:def>

    <py:choose test="view">
      <form py:when="'detail'" py:with="info = repositories[reponame]"
            class="well form-horizontal" id="trac-modrepos" method="post"
            action="">
        <fieldset py:choose="" py:with="readonly = not info.editable or None">
          <legend py:when="info.editable">Modify Repository:</legend>
          <legend py:otherwise="">View Repository:</legend>
          <p py:if="not info.editable" class="help-block" i18n:msg="">
            <span class="label label-warning">Warning</span>
            This repository is defined in <code><a href="${href.wiki('TracIni')}">trac.ini</a></code>
            and cannot be edited on this page.
          </p>
          <div class="control-group">
            <label class="control-label" for="name">Name:</label>
            <div class="controls">
              <input type="text" id="name" name="name" value="$info.name"
                     readonly="$readonly"/>
            </div>
          </div>
          <py:choose>
            <py:when test="'alias' in info">
              ${alias_field(info.editable, selected=info.alias)}
            </py:when>
            <py:otherwise>
                ${type_field(info.editable, selected=info.type)}
              <div class="control-group">
                <label class="control-label" for="dir">Directory:</label>
                <div class="controls">
                  <input type="text" id="dir" name="dir" size="48"
                         value="$info.dir" readonly="$readonly"/>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="url">URL:</label>
                <div class="controls">
                  <input type="text" id="url" name="url" size="48"
                         value="$info.url" readonly="$readonly"/>
                </div>
              </div>
            </py:otherwise>
          </py:choose>
          <div class="control-group">
            <div class="controls">
              <input type="checkbox" name="hidden" value="1"
                     checked="${info.hidden or None}" disabled="$readonly"/>
              Hide from repository index
            </div>
          </div>
          <div class="control-group">
            <fieldset class="iefix">
              <label class="control-label" for="description" i18n:msg="">
                Description:
              </label>
             <div class="controls">
                <textarea id="description" name="description" class="wikitext trac-resizable"
                          placeholder="Describe this repository using WikiFormatting"
                          rows="6" cols="60" readonly="$readonly">$info.description</textarea>
                <p class="help-block">
                  <span class="label label-info">Tip</span>
                  you may use <a tabindex="42" href="${href.wiki('WikiFormatting')}">WikiFormatting</a> here
                </p>
              </div>
            </fieldset>
          </div>
          <div class="control-group">
            <input class="btn" py:if="info.editable" type="submit"
                   name="save" value="${_('Save')}"/>
            <input class="btn-link" type="submit" name="cancel"
                   value="${_('Cancel')}"/>
          </div>
        </fieldset>
      </form>

      <py:otherwise>
        <div class="row">
          <div class="span9">
            <form class="well form-inline" id="trac-addrepos" method="post" action="">
              <fieldset>
                <legend>Add Repository:</legend>
                <div class="control-group">
                  <label class="control-label" for="name">Name:</label>
                  <input class="input-medium" type="text" id="name" name="name"/>
                  ${type_field(True, True)}
                </div>
                <div class="control-group">
                  <label for="dir">Directory:</label>
                  <input class="input-xxlarge" type="text" id="dir" name="dir"/>
                </div>
                <div class="control-group">
                  <input class="btn" type="submit" name="add_repos"
                         value="${_('Add')}"/>
                </div>
              </fieldset>
            </form>
            <form py:if="any(not info.alias for info in repositories.itervalues())"
                  class="well form-inline" id="trac-addalias" method="post" action="">
              <fieldset>
                <legend>Add Alias:</legend>
                <div class="control-group">
                  <label for="alias_name">Name:</label>
                  <input class="input-medium" type="text" id="alias_name"
                         name="name"/>
                  ${alias_field(True, True)}
                </div>
                <div class="control-group">
                  <input class="btn" type="submit" name="add_alias"
                         value="${_('Add')}"/>
                </div>
              </fieldset>
            </form>
            <form id="trac-repository_table" method="post" action="">
              <table id="trac-reposlist"
                  class="table table-striped table-condensed table-bordered">
                <thead>
                  <tr><th class="sel"><i class="icon-check"></i></th>
                    <th>Name</th><th>Type</th>
                    <th>Directory</th><th>Revision</th>
                  </tr>
                </thead>
                <tbody>
                  <tr py:for="(reponame, info) in sorted(repositories.iteritems())">
                    <td class="sel"><input py:if="info.editable" type="checkbox" name="sel" value="$info.name"/></td>
                    <td class="name">
                      <a href="${panel_href(info.name or '(default)')}">${info.name or _('(default)')}</a>
                    </td>
                    <td>${(info.type or _('(default)')) if not info.alias else None}</td>
                    <td py:choose="">
                      <py:when test="info.dir">$info.prettydir</py:when>
                      <em py:otherwise="" i18n:msg="repo">Alias of ${info.alias or _('(default)')}</em>
                    </td>
                    <td><a py:if="info.rev" href="${href.changeset(info.rev, reponame) or None}">[$info.display_rev]</a></td>
                  </tr>
                </tbody>
              </table>
              <div class="control-group">
                <input class="btn" type="submit" name="refresh"
                       value="${_('Refresh')}"/>
                <input class="btn" type="submit" name="remove"
                       value="${_('Remove selected items')}"/>
              </div>
            </form>
          </div>
        </div>

      </py:otherwise>
    </py:choose>
  </body>

</html>

