<!--!
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<!--!
		Render an empty table to enter batch of data to create tickets.
-->

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     xmlns:i18n="http://genshi.edgewall.org/i18n"
     xmlns:xi="http://www.w3.org/2001/XInclude">
  
  <style>
    .table-bordered.query thead:first-child tr:first-child th:first-child, 
    .table-bordered.query tbody:first-child tr:first-child td:first-child {
      border-top-left-radius: 0px;
    }
  </style>
  <h1>Batch Create Tickets</h1>
  <form id="qct-form" name="qct" method="post"><div><input type="hidden" name="__FORM_TOKEN" value="91dfcfa0a63de2f6b9a3797e"/></div>
  <table class="listing tickets table table-bordered table-condensed query"
      style="border-radius: 0px 0px 4px 4px"
	  py:with="columnheaders = {'summary':'Summary','description':'Description','product':'Product','status':'Status'}">
    <tr class="trac-columns">
	  <py:for each="idx,header in enumerate(columnheaders)">
		<th>
		  <font color="#1975D1">
			${columnheaders[header]}
		  </font>
		</th>
	  </py:for>	
    </tr>
      
    <tbody>    
      <py:for each="num in range(0,4)">          
        <tr>
          <py:for each="idx, header in enumerate(columnheaders)" py:choose="">
            <py:with vars="name = header; value = ''">                    
	     	  <py:if test="name not in 'ticket' and name not in 'id'">
				<td py:otherwise="" class="$name" py:choose="">
				  <py:when test="name == 'summary'">
					<div class="control-group">
					  <input type="text" id="field-summary" class="input-block-level" name="field_summary"/>
					</div>
				  </py:when>
				  <py:when test="name == 'description'">
					<div class="control-group">
                      <textarea id="field-description" class="input-block-level" name="field_description" rows="3" cols="28"></textarea>
					</div>
				  </py:when>
				  <py:when test="name == 'status'">
					<div class="control-group">
 					  <select name="status">
					    <option value="accepted">accepted</option>
						<option value="assigned">assigned</option>
						<option value="closed">closed</option>
						<option selected="selected" value="new">new</option>
						<option value="reopened">reopened</option>
					  </select>
					</div>
			      </py:when>
				  <py:when test="name == 'priority'">
					<div class="control-group">
					  <select name="priority">
						<option value="blocker">blocker</option>
						<option value="critical">critical</option>
						<option selected="selected" value="major">major</option>
						<option value="minor">minor</option>
						<option value="trivial">trivial</option>
					  </select>
					</div>
				  </py:when>
				  <py:when test="name == 'type'">
					<div class="control-group">
					  <select name="type">
						<option value="defect">defect</option>
						<option value="enhancement">enhancement</option>
						<option selected="selected" value="task">task</option>
					  </select>
					</div>
				  </py:when>
				  <py:when test="name == 'product'">
					<div class="control-group">
                      <select id="field-product" name="field_product" class="input-block-level" data-field="product" data-optional="false">
                        <option value="">Choose...</option>
                        <option value="@" data-product-new-ticket-url="/sqlite/products/%40/newticket">Default</option>
                      </select>
                    </div>
				  </py:when>
				  <div class="control-group">
					<input name="owner" type='text' py:when="name == 'owner'"></input>
				  </div>
				  <div class="control-group">
					<input name="reporter" type='text' py:when="name == 'reporter'"></input>
				  </div>
				  <div class="control-group">
					<input name="cc" type='text' py:when="name == 'cc'"></input>
				  </div>
				  <div class="control-group">
					<input name="milestone" type='text' py:when="name == 'milestone'"></input>
				  </div>
				  <div class="control-group">
					<input name="keywords" type='text' py:when="name == 'keywords'"></input>
				  </div>
				</td>
			  </py:if>
			</py:with>
          </py:for>
        </tr>
      </py:for>
      <tr py:if="group_index == len(groups)-1 and last_group_is_partial">
        <td colspan="${len(headers)}">
          <i>(more results for this group on next page)</i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="btn-group pull-right">
	  <input type="submit" class="btn pull-right" name="save" value="${_('save')}" />
    </div>
  </form>
  <form method="get" style="display:inline" action="${href.query()}" id="batchcreate">
    <input type="hidden" name="actionticketbatchcreate" value="rename" />
    
  </form>

  <xi:include py:if="paginator.show_index" href="page_index.html" />
</div>

