<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:bh="http://issues.apache.org/bloodhound/wiki/Ui/Dashboard"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="widget_macros.html" />
  <head>
    <title>Milestone ${milestone.name}</title>
    <link py:if="'MILESTONE_MODIFY' in perm(milestone.resource)" rel="alternate" type="application/x-wiki"
          title="Edit this milestone" href="${href.milestone(milestone.name, action='edit')}" />
  </head>

  <py:def function="milestone_date">
    <py:choose test="">
      <py:when test="milestone.completed">
        <i18n:msg params="duration, date">
          Completed ${dateinfo(milestone.completed)} ago (${format_datetime(milestone.completed)})
        </i18n:msg>
      </py:when>
      <py:when test="milestone.is_late">
        <i18n:msg params="duration, date">
          dateinfo(milestone.due)} late
        </i18n:msg>
      </py:when>
      <py:when test="milestone.due">
        <i18n:msg params="duration, date">
          Due in ${dateinfo(milestone.due)}
        </i18n:msg>
      </py:when>
      <py:otherwise>
        <span class="label">Unscheduled</span>
      </py:otherwise>
    </py:choose>
  </py:def>

  <py:def function="milestone_owner()">
    <py:choose>
      <py:when test="milestone.owner">
        Assigned to
        <a href="${href.query(owner=milestone.owner, status='!closed',
            milestone=milestone.name, order='priority')}">${milestone.name}</a>
      </py:when>
      <py:otherwise>
        <span class="label">Unassigned</span>
      </py:otherwise>
    </py:choose>
  </py:def>

  <body>
    <div class="row">
      <div class="${'span8' if bhdb else 'span12'}">
        <div class="stickyBox">
          <div id="overview" class="stickyStatus">
            <div class="whitebox"></div>
            <h1 style="display: inline;">Milestone ${milestone.name}</h1>
            <h6>${milestone_date()}, ${milestone_owner()}</h6>
            <br/>
            <xi:include href="widget_progress.html"
                py:with="view = 'compact'; legend = True;" />
            <div class="stickyEndMark"></div>
          </div>
        </div>
        <script type="text/javascript">
          setup_sticky_panel('#overview');
        </script>
        <div class="${'span7' if bhdb else 'span11'}" >
          <div class="well">
            ${wiki_to_html(context, milestone.description)}
            <div py:if="'MILESTONE_MODIFY' in perm(milestone.resource) or
                        'MILESTONE_DELETE' in perm(milestone.resource) or
                        attachments.can_create">
              <form py:if="'MILESTONE_MODIFY' in perm(milestone.resource)"
                  method="get" action="" id="editmilestone"
                  style="display: inline-block">
                <input type="hidden" name="action" value="edit" />
                <div class="btn-group">
                  <button class="btn" name="editmilestonebutton" type="submit">
                    <i class="icon-edit"></i>
                    ${_('Edit')}
                  </button>
                </div>
              </form>
              <form py:if="'MILESTONE_DELETE' in perm(milestone.resource)"
                  method="get" action="" id="deletemilestone"
                  style="display: inline-block">
                <input type="hidden" name="action" value="delete" />
                <div class="btn-group">
                  <button class="btn" name="deletemilestonebutton" type="submit">
                    <i class="icon-trash"></i>
                    ${_('Delete')}
                  </button>
                </div>
              </form>
              <xi:include href="bh_attach_file_form.html" py:with="alist = attachments" />
            </div>
          </div>
        </div>
        <div>
          <bh:layout urn="bootstrap_grid">
            <bh:schema>
              {
                "div" : [
                    {
                      "_class" : "row",
                      "div" : [
                          {
                            "_class" : "${'span8' if bhdb else 'span12'}",
                            "widgets" : ["tickets", "components"]
                          }
                        ]
                    }
                  ]
              }
            </bh:schema>
            <bh:widgets>
              {
                "tickets" : {
                    "args" : ["TicketQuery", null, {
                        "args" : {
                            "max" : 10,
                            "query" : "milestone=${milestone.name}&amp;status!=closed&amp;group=time&amp;col=id&amp;col=summary&amp;col=owner&amp;col=status&amp;col=priority&amp;order=priority&amp;groupdesc=1&amp;desc=1",
                            "title" : "All tickets in milestone"
                          }
                      }]
                  },
                "components" : {
                    "args" : ["TicketFieldCloud", null, {
                        "args" : {
                            "field" : "component",
                            "query" : "milestone=${milestone.name}&amp;group=component",
                            "verbose" : true
                          }
                      }]
                  }
              }
            </bh:widgets>
              <!--! bh:w urn="TicketQuery" id="mtb1">
                <bh:args>
                  <bh:arg name="max">10</bh:arg>
                  <bh:arg name="query">milestone=${value_of(milestone.name)}&amp;owner=$USER&amp;status!=closed&amp;group=time&amp;col=id&amp;col=summary&amp;col=owner&amp;col=status&amp;col=priority&amp;order=priority&amp;groupdesc=1&amp;desc=1</bh:arg>
                  <bh:arg name="title">My tickets (milestone ${milestone.name})</bh:arg>
                </bh:args>
              </bh:w>
              <bh:w urn="TicketQuery" id="mtb2">
                <bh:args>
                  <bh:arg name="max">10</bh:arg>
                  <bh:arg name="query">milestone=${value_of(milestone.name)}&amp;status!=closed&amp;group=time&amp;col=id&amp;col=summary&amp;col=owner&amp;col=status&amp;col=priority&amp;order=priority&amp;groupdesc=1&amp;desc=1</bh:arg>
                  <bh:arg name="title">All tickets (milestone ${milestone.name})</bh:arg>
                </bh:args>
              </bh:w>
              <bh:w urn="TicketFieldCloud" id="mtb3">
                <bh:args>
                  <bh:arg name="field">component</bh:arg>
                  <bh:arg name="verbose">true</bh:arg>
                </bh:args>
              </bh:w-->
          </bh:layout>
        </div>
      </div>
      <div py:if="bhdb" class="span4">
        <bh:widget urn="Timeline" />
      </div>
    </div>
  </body>
</html>
