<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:bh="http://issues.apache.org/bloodhound/wiki/Ui/Dashboard"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <xi:include href="widget_macros.html" />
  <head>
    <title>Milestone ${milestone.name}</title>
    <link py:if="'MILESTONE_MODIFY' in perm(milestone.resource)" rel="alternate" type="application/x-wiki"
          title="Edit this milestone" href="${href.milestone(milestone.name, action='edit')}" />
  </head>

  <body>
    <div class="row">
      <div class="${'span8' if bhdb else 'span12'}">
        <h1 style="display: inline;">Milestone ${milestone.name}</h1>
        <br/><br/>
        <py:def function="milestone_caption">
          <py:choose test="">
            <py:when test="milestone.completed">
              <i18n:msg params="duration, date">
                Completed ${dateinfo(milestone.completed)} ago (${format_datetime(milestone.completed)})
              </i18n:msg>
            </py:when>
            <py:when test="milestone.is_late">
              <i18n:msg params="duration, date">
                dateinfo(milestone.due)} late (${format_datetime(milestone.due)})
              </i18n:msg>
            </py:when>
            <py:when test="milestone.due">
              <i18n:msg params="duration, date">
                Due in ${dateinfo(milestone.due)} (${format_datetime(milestone.due)})
              </i18n:msg>
            </py:when>
            <py:otherwise>
              No date set
            </py:otherwise>
          </py:choose>
          <form style="display: inline;"
              py:if="'MILESTONE_MODIFY' in perm(milestone.resource)">
            &nbsp;
            <input type="hidden" name="action" value="edit" />
            <input type="submit" class="btn btn-mini btn-info"
                value="${_('Change')}" />
          </form>
        </py:def>
        <xi:include href="widget_progress.html"
            py:with="caption = milestone_caption(); legend = True;
                desc = wiki_to_html(context, milestone.description);"/>
        <div py:if="'MILESTONE_MODIFY' in perm(milestone.resource) or
                    'MILESTONE_DELETE' in perm(milestone.resource) or
                    attachments.can_create">
          <form py:if="'MILESTONE_MODIFY' in perm(milestone.resource)"
              method="get" action="" id="editmilestone"
              style="display: inline-block">
            <input type="hidden" name="action" value="edit" />
            <div class="btn-group">
              <input type="submit" value="${_('Edit milestone')}" 
                  class="btn btn-warning" />
            </div>
          </form>
          <form py:if="'MILESTONE_DELETE' in perm(milestone.resource)"
              method="get" action="" id="deletemilestone"
              style="display: inline-block">
            <input type="hidden" name="action" value="delete" />
            <div class="btn-group">
              <input type="submit" value="${_('Delete milestone')}"
                  class="btn btn-danger" />
            </div>
          </form>
          <xi:include href="bh_attach_file_form.html" py:with="alist = attachments" />
        </div>
        <div class="row">
          <bh:layout urn="bootstrap_btnbar">
            <bh:schema>
            {
              "toolbar" : [
                  ["My Tickets", "mtb1"],
                  ["All Tickets", "mtb2"],
                  ["|", null],
                  ["Projects", null],
                  ["Components", "mtb3"]
                ],
              "active" : 0
            }
            </bh:schema>
            <bh:widgets>
              {
                "mtb1" : {
                    "args" : ["TicketQuery", null, {
                        "args" : {
                            "max" : 10,
                            "query" : "milestone=${milestone.name}&amp;owner=$$USER&amp;status!=closed&amp;group=time&amp;col=id&amp;col=summary&amp;col=owner&amp;col=status&amp;col=priority&amp;order=priority&amp;groupdesc=1&amp;desc=1",
                            "title" : "My tickets (milestone ${milestone.name})"
                          }
                      }]
                  },
                "mtb2" : {
                    "args" : ["TicketQuery", null, {
                        "args" : {
                            "max" : 10,
                            "query" : "milestone=${milestone.name}&amp;status!=closed&amp;group=time&amp;col=id&amp;col=summary&amp;col=owner&amp;col=status&amp;col=priority&amp;order=priority&amp;groupdesc=1&amp;desc=1",
                            "title" : "All tickets (milestone ${milestone.name})"
                          }
                      }]
                  },
                "mtb3" : {
                    "args" : ["TicketFieldCloud", null, {
                        "args" : {
                            "field" : "component",
                            "verbose" : true
                          }
                      }]
                  }
              }
            </bh:widgets>
              <!--! bh:w urn="TicketQuery" id="mtb1">
                <bh:args>
                  <bh:arg name="max">10</bh:arg>
                  <bh:arg name="query">milestone=${value_of(milestone.name)}&amp;owner=$USER&amp;status!=closed&amp;group=time&amp;col=id&amp;col=summary&amp;col=owner&amp;col=status&amp;col=priority&amp;order=priority&amp;groupdesc=1&amp;desc=1</bh:arg>
                  <bh:arg name="title">My tickets (milestone ${milestone.name})</bh:arg>
                </bh:args>
              </bh:w>
              <bh:w urn="TicketQuery" id="mtb2">
                <bh:args>
                  <bh:arg name="max">10</bh:arg>
                  <bh:arg name="query">milestone=${value_of(milestone.name)}&amp;status!=closed&amp;group=time&amp;col=id&amp;col=summary&amp;col=owner&amp;col=status&amp;col=priority&amp;order=priority&amp;groupdesc=1&amp;desc=1</bh:arg>
                  <bh:arg name="title">All tickets (milestone ${milestone.name})</bh:arg>
                </bh:args>
              </bh:w>
              <bh:w urn="TicketFieldCloud" id="mtb3">
                <bh:args>
                  <bh:arg name="field">component</bh:arg>
                  <bh:arg name="verbose">true</bh:arg>
                </bh:args>
              </bh:w-->
          </bh:layout>
        </div>
      </div>
      <div py:if="bhdb" class="span4">
        <bh:widget urn="Timeline" />
      </div>
    </div>
  </body>
</html>
