<!--!
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>$title</title>
  </head>

  <body>
    <div id="content" class="report row">

      <h1 class="span12">
        ${_('New Report') if action == 'new' else report.title}
      </h1>
      <div class="span12">
        <form action="${href.report(report.id)}" method="post" id="edit_report"
              class="form-horizontal">
          <input type="hidden" name="action" value="$action" />
          <div>
            <div class="control-group">
              <label class="control-label" for="title">Report Title:</label>
              <div class="controls">
                <input type="text" id="title" name="title" value="$report.title" /><br />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="description" i18n:msg="">
                Description:
              </label>
              <div class="controls">
                <textarea id="description" name="description" class="wikitext trac-resizable" rows="10">
$report.description</textarea>
                <p class="help-block">
                  <span class="label label-info">Tip</span>
                  You may use <a tabindex="42" href="${href.wiki('WikiFormatting')}">WikiFormatting</a> here.
                </p>
              </div>
            </div>
            <div class="control-group">
              <div class="alert alert-error" py:if="errorerror">
                <span class="label label-important">Error:</span> $error
              </div>
              <label class="control-label" for="query" i18n:msg="">
                Query for Report:
              </label>
              <div class="controls">
                <textarea id="query" name="query" class="trac-resizable" rows="20">
$report.sql</textarea>
                <p class="help-block">
                  <span class="label label-info">Tip</span>
                  Can be either SQL or, if starting with <code>query:</code>,
                  a <a tabindex="42" href="${href.wiki('TracQuery') + '#QueryLanguage'}">TracQuery</a> expression.
                </p>
              </div>
            </div>
            <div class="buttons control-group">
              <input class="btn" type="submit" value="${_('Save report')}"/>
              <input class="btn-link" type="submit" name="cancel"
                     value="${_('Cancel')}"/>
            </div>
          </div>
        </form>
      </div>

      <div class="span12">
        <div id="help" class="help-block pull-right" i18n:msg="">
          <span class="label label-info">Note</span>
          See <a href="${href.wiki('TracReports')}">TracReports</a> for help on using and creating reports.
        </div>
      </div>
    </div>
  </body>
</html>

