<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
  <py:match path="head" once="true"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title py:with="title = list(select('title/text()'))">
      <py:if test="title">${title} – </py:if>${project.name or 'Apache(TM) Bloodhound'}
    </title>
    <py:if test="chrome.links">
      <py:for each="rel, links in chrome.links.items()">
        <link rel="${rel}" py:for="link in links" py:attrs="link"/>
      </py:for>
    </py:if>
    <py:if test="'SEARCH_VIEW' in perm" id="search">
      <link type="application/opensearchdescription+xml" rel="search"
            href="${href.search('opensearch')}" title="Search $project.name"/>
    </py:if>
    <script py:for="script in chrome.scripts"
            type="${script.type}" src="${script.href}"></script>
    <script src="${href.chrome('theme/scripts/jquery-1.7.1.min.js')}"></script>
    <script src="${href.chrome('theme/scripts/bootstrap-dropdown.js')}"></script>
    <script src="${href.chrome('theme/scripts/dashboard.js')}"></script>
    ${Markup('&lt;!--[if lt IE 7]&gt;')}
    <script type="text/javascript" src="${chrome.htdocs_location}js/ie_pre7_hacks.js"></script>
    ${Markup('&lt;![endif]--&gt;')}
    ${select("*[local-name() != 'title']")}
  </head></py:match>

  <py:match path="body" once="true" buffer="false"><body>
    <div class="container">
      <div class="row" style="position:relative;">
        <div class="span4">
          <!-- TODO: Support different logo dimensions -->
          <img src="${chrome.logo.src or href.chrome('theme/images/bh_logo.png')}" 
              alt="Bloodhound Logo" height="47" width="161" />
        </div>
        <py:with vars="meta_items = dict([i.name, i] for i in chrome.nav.metanav)">
          <div class="span8" style="position:absolute; bottom:25%; right:-45%;">
            <span id="nav_login">${meta_items.login.label}</span>
            <span py:if="'logout' in meta_items" id="nav_logout">
              ${meta_items.logout.label}
            </span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span py:if="'prefs' in meta_items"><i class="icon-cog"></i>
              ${meta_items.prefs.label}
            </span>
          </div>
        </py:with>
      </div>
      <div class="row" style="position:relative;">
        <div class="span4">
        <form class="form-inline" action="${href.search()}" method="get">
          <input type="text" class="span3" name="q"
              placeholder="Search anything. Try #EF-492." />
          <input type="submit" value="Search" class="btn btn-warning"/>
        </form>
        </div>
        <div class="span4"><a href="#" class="btn">Create Ticket</a></div>
        <div class="4">
          <ul py:if="chrome.nav.mainnav" class="nav nav-tabs pull-right"
              py:with="mainnav_show = ('wiki', 'tickets', 'browser')">
            <!-- TODO: Parameterize visible mainnav items in trac.ini -->
            <li py:for="idx, item in enumerate(i for i in chrome.nav.mainnav if i.name in mainnav_show or i.active)" 
                class="${classes(first_last(idx, chrome.nav.mainnav), active=item.active)}">${item.label}</li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Apps<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li py:for="idx, item in enumerate(i for i in chrome.nav.mainnav if i.name not in mainnav_show and not i.active)" 
                    class="${classes(first_last(idx, chrome.nav.mainnav), active=item.active)}">${item.label}</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="row" style="background-color:#f6f6f6;">
        <div class="span9" py:choose="">
          <xi:include py:when="value_of('resourcepath_template')" 
              href="${resourcepath_template}" />
          <py:otherwise>&nbsp;</py:otherwise>
        </div>
        <div class="span3" style="text-align:right;">
          <py:for py:if="chrome.ctxtnav"
              py:with="max_idx = len(chrome.ctxtnav) - 1"
              each="idx, item in enumerate(chrome.ctxtnav)">
            $item
            <py:if test="idx &lt; max_idx">&nbsp;&nbsp;&nbsp;&nbsp;</py:if>
          </py:for>
        </div>
      </div>
      <br/>
      <div id="warning" py:if="chrome.warnings" class="system-message">
        <py:choose test="len(chrome.warnings)">
          <strong>Warning:</strong>
          <py:when test="1">${chrome.warnings[0]}</py:when>
          <py:otherwise><ul><li py:for="warning in chrome.warnings">$warning</li></ul></py:otherwise>
        </py:choose>
      </div>
      <div id="notice" py:if="chrome.notices" class="system-message">
        <py:choose test="len(chrome.notices)">
          <py:when test="1">${chrome.notices[0]}</py:when>
          <py:otherwise><ul><li py:for="notice in chrome.notices">$notice</li></ul></py:otherwise>
        </py:choose>
      </div>
      ${select('*|text()|comment()')}
      <div class="row">
        <br/>
        <div class="span8" style="color:grey;">
          Powered by <a href="http://www.apache.org/">Apache<sup>TM</sup></a> <a href="${href.about()}"><strong>Bloodhound</strong></a>.
          Standing on the shoulders of 
          <a href="http://trac.edgewall.org/"><strong>Trac ${trac.version}</strong></a>.
        </div>
        <div class="span4" style="text-align:right; color:grey;">${chrome.footer}</div>
      </div>
    </div>
    <br/>
</body></py:match></html>
