<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
<a py:if="active_product or active_filter_queries or query" href="${href.bhsearch()}">Search</a>
<py:if test='active_product'>
    <div class="btn-group">
        <button class="btn btn-mini">
            <a title="Selected product"
               href="#">${active_product}</a>
        </button>
        <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li py:for="prefix,name,url in search_product_list[:-1]">
                <a title="Product $name ($prefix)" href="$url">$name
                    ($prefix)</a>
            </li>
            <li class="divider"></li>
            <li py:with="prefix,name,url=search_product_list[-1]">
                <a title="$name" href="$url">$name</a>
            </li>
        </ul>
    </div>
</py:if>


<py:for each="active_filter in active_filter_queries">
    &gt; <a class="search_filter" href="${active_filter.href}">${active_filter.label}</a>
</py:for>
<py:if test="query">
    &gt; <a href="${active_query.href}">${active_query.label}</a>
</py:if>
</html>
