<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title py:choose="">
      <py:when test="query">Bloodhound Search Results</py:when>
      <py:otherwise>Bloodhound Search</py:otherwise>
    </title>
    <py:if test="results">
        <meta name="startIndex" content="${results.span[0] + 1}"/>
        <meta name="totalResults" content="$results.num_items"/>
        <meta name="itemsPerPage" content="$results.max_per_page"/>
    </py:if>

    <script type="text/javascript">
      jQuery(document).ready(function($) {$("#q").get(0).focus()});
    </script>
  </head>
  <body>
    <div id="content" class="search">

      <h1>This page provides prototype functionality.</h1>
      <h1><label for="q">Search</label></h1>
      <form id="fullsearch" action="${href.bhsearch()}" method="get">
        <p>
          <input type="text" id="q" name="q" size="40" value="${query}" />
          <input type="hidden" name="noquickjump" value="1" />
          <input py:if="active_type" type="hidden" name="type" value="${active_type}" />
          <input type="submit" value="${_('Search')}" />
        </p>
      </form>

      <div>
        <ul class="nav nav-tabs" id="mainnav">
          <li py:for="idx, item in enumerate(i for i in types)"
              class="${classes(first_last(idx, types), active=item.active)}"><a href="${item.href}">${item.label}</a></li>

        </ul>
      </div>

      <py:if test="results"><hr />
        <h2 py:if="results">
          Results <small>(${results.displayed_items()})</small>
        </h2>
        <div>
          <dl id="results">

            <!--This just a prototype implementation. Should be replaced by proper UI mocks-->
            <py:for each="result in results">
              <dt><a href="${result.href}" class="searchable">${result.title}</a></dt>
              <dd class="searchable">${result.excerpt}</dd>
              <dd>
                <py:if test="result.author"><span class="author" i18n:msg="author">By ${format_author(result.author)}</span> &mdash;</py:if>
                <span class="date">${result.date}</span>
              </dd>
            </py:for>
          </dl>
        </div>
        <xi:include py:with="paginator = results" href="bh_page_index.html" />
      </py:if>

      <div class="span12"
          py:if="query and not (results or quickjump)">
        <p id="notfound" class="alert">
          No matches found.
        </p>
      </div>

      <div id="help" class="help-block pull-right" i18n:msg="">
        <strong>Note:</strong> See <a href="${href.wiki('BloodhoundSearch')}">BloodhoundSearch</a>
        for help on searching.
      </div>

    </div>
  </body>
</html>

