[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
selenium = "*"
pytest-django = "*"
PyYAML = "*"

[packages]
django = ">=2.0.0"
djangorestframework = "*"
django-rest-swagger = "*"

[requires]
