<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <!-- <xi:include href="layout.html" /> -->

  <head>
    <title>Product ${product.name}</title>
  </head>

  <body>
    <h2><a href="${href.products(product.prefix)}">${product.name}</a></h2>
    <py:choose>
      <p py:when="product.description">
        <strong>Description:</strong> ${product.description}
      </p>
    </py:choose>
    <py:choose>
      <p py:when="owner">
          <strong>Owner:</strong><a href="${href.query(owner=owner, status='!closed',order='priority')}">
                                  ${owner}</a></p>
    </py:choose>
    <p><strong>Number of tickets:</strong> ${ticket_num}</p>
    <p><strong>Number of milestones:</strong> ${milestone_num}</p>
    <p><strong>Number of versions:</strong> ${version_num}</p>
    <p><strong>Number of components:</strong> ${component_num}</p>
  </body>
</html>
