  <!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
      <link rel="stylesheet" href="${href.chrome('dashboard/css/bootstrap.css')}" type="text/css" />
      <link rel="stylesheet" href="${href.chrome('dashboard/css/bootstrap-responsive.css')}" type="text/css" />
      <link rel="stylesheet" href="${href.chrome('embedding/embedding.css')}" type="text/css" />

  <head>
    <title>Query</title>
  </head>

  <body>
    <div id="query-embed-content">
      <h2>Query</h2>

      <h5 class="properties">Query String</h5>
      <p>${filters}</p>
      <h5 class="properties">Query Results</h5>

      <py:choose>
        <py:when test="len(tickets)>5">
          <div id="query-results">
            <py:for each="ticket in tickets">
              <p>
                 <a target="_blank" href="${href.ticket(ticket)}">Ticket #${ticket}</a>
              </p>
            </py:for>
          </div>
        </py:when>
        <py:otherwise>
          <div>
            <py:for each="ticket in tickets">
              <p>
                 <a target="_blank" href="${href.ticket(ticket)}">Ticket #${ticket}</a>
              </p>
            </py:for>
          </div>
        </py:otherwise>
      </py:choose>
    </div>
  </body>
</html>
