<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
      <link rel="stylesheet" href="${href.chrome('dashboard/css/bootstrap.css')}" type="text/css" />
      <link rel="stylesheet" href="${href.chrome('dashboard/css/bootstrap-responsive.css')}" type="text/css" />
      <link rel="stylesheet" href="${href.chrome('embedding/embedding.css')}" type="text/css" />

  <head>
    <title>Ticket ${ticket.id}</title>
  </head>

  <body>
    <div>
      <h2>${ticket.summary}</h2>
      <h4><a target="_blank" href="${href.ticket(ticket.id)}">Ticket #${ticket.id}</a></h4>
        <h5>Assigned to
          <a target="_blank" href="${href.query(owner=ticket.owner, status='!closed',
              ticket=ticket.id, order='priority')}">${ticket.owner}</a>
           , last modified
<!--            <a target="_blank" href="${href('timeline', {'from': ticket.changetime})}">
                      ${ticket.changetime}</a> -->
           ${pretty_dateinfo(ticket.changetime)}
        </h5>

      <table class="table table-condensed ticket-properties">
        <tr>
          <th class="properties">Reporter</th>
          <td><a target="_blank" href="${href.query(reporter=ticket.reporter, status='!closed',
                ticket=ticket.id, order='priority')}">${ticket.reporter}</a></td>
        </tr>
        <py:choose>
          <tr py:when="ticket.keywords">
            <th class="properties">Keywords</th>
            <td><a target="_blank" href="${href.query(keywords=ticket.keywords, status='!closed',
                  ticket=ticket.id, order='priority')}">${ticket.keywords}</a></td>
          </tr>
        </py:choose>
        <tr>
          <th class="properties">Type</th>
          <td><a target="_blank" href="${href.query(type=ticket.type, status='!closed',
                ticket=ticket.id, order='priority')}">${ticket.type}</a></td>
        </tr>
        <tr>
          <th class="properties">Status</th>
          <td><a target="_blank" href="${href.query(status=ticket.status,
                ticket=ticket.id, order='priority')}">${ticket.status}</a></td>
        </tr>
        <py:choose>
          <tr py:when="ticket.priority">
            <th class="properties">Priority</th>
            <td><a target="_blank" href="${href.query(priority=ticket.priority, status='!closed',
                  ticket=ticket.id, order='priority')}">${ticket.priority}</a></td>
          </tr>
        </py:choose>
        <tr>
          <th class="properties">Product</th>
          <td><a target="_blank" href="${href.query(product=ticket.product, status='!closed',
                ticket=ticket.id, order='priority')}">${ticket.product}</a></td>
        </tr>
        <py:choose>
          <tr py:when="ticket.milestone">
            <th class="properties">Milestone</th>
            <td><a target="_blank" href="${href.query(milestone=ticket.milestone, status='!closed',
                  ticket=ticket.id, order='priority')}">${ticket.milestone}</a></td>
          </tr>
        </py:choose>
        <py:choose>
          <tr py:when="ticket.component">
            <th class="properties">Component</th>
            <td><a target="_blank" href="${href.query(component=ticket.component, status='!closed',
                  ticket=ticket.id, order='priority')}">${ticket.component}</a></td>
          </tr>
        </py:choose>
        <py:choose>
          <tr py:when="ticket.version">
            <th class="properties">Version</th>
            <td><a target="_blank" href="${href.query(version=ticket.version, status='!closed',
                  ticket=ticket.id, order='priority')}">${ticket.version}</a></td>
          </tr>
        </py:choose>
        <py:choose>
          <tr py:when="ticket.severity">
            <th class="properties">Severity</th>
            <td><a target="_blank" href="${href.query(severity=ticket.severity, status='!closed',
                  ticket=ticket.id, order='priority')}">${ticket.severity}</a></td>
          </tr>
        </py:choose>
        <py:choose>
          <tr py:when="comm_num">
            <th class="properties">Number of comments</th>
            <td><a target="_blank" href="${href.ticket(ticket.id)}">${comm_num}</a></td>
          </tr>
        </py:choose>
        <py:choose>
          <tr py:when="attachment_num">
            <th class="properties">Number of attachments</th>
            <td><a target="_blank" href="${href.attachment('ticket', ticket.id)}">${attachment_num}</a></td>
          </tr>
        </py:choose>
      </table>
    </div>
  </body>
</html>
