<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <!-- <xi:include href="layout.html" /> -->

  <head>
    <title>Milestone ${milestone.name}</title>
  </head>

  <body>
    <h2><a href="${href.milestone(milestone.name)}">${milestone.name}</a></h2>
    <py:choose>
      <p py:when="milestone.completed" class="date">
        <i18n:msg params="duration, date">
          <strong>Completed:</strong> ${dateinfo(milestone.completed)} ago (${format_datetime(milestone.completed)})
        </i18n:msg></p>
      <p py:when="milestone.is_late" class="date">
        <i18n:msg params="duration, date">
          <strong>Due:</strong> ${dateinfo(milestone.due)} late (${format_datetime(milestone.due)})
        </i18n:msg></p>
      <p py:when="milestone.due" class="date">
        <i18n:msg params="duration, date">
          <strong>Due in:</strong> ${dateinfo(milestone.due)} (${format_datetime(milestone.due)})
        </i18n:msg></p>
    </py:choose>
    <py:choose>
      <p py:when="milestone.description">
          <strong>Description:</strong> ${milestone.description}</p>
    </py:choose>
    <p><strong>Product:</strong> ${product.name}</p>
    <p><strong>Number of tickets:</strong> ${ticket_number}</p>
    <p><strong>Attachments:</strong> ${attachment_number}</p>

    <a class='btn' href="${href.milestone(milestone.name)}">Back to milestone ${milestone.name}</a>
  </body>
</html>
