<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n">
  <xi:include href="layout.html" />
  <head>
    <title>Product</title>
  </head>
  <body>
    <h2>Product ${product.name}</h2>
    <py:choose>
      <p py:when="product.description">
          <strong>Description:</strong> ${product.description}</p>
      <p py:otherwise="">
        No description provided.</p>
    </py:choose>

    <p><strong>Owner:</strong></p>
    <p><strong>No. of tickets:</strong></p>
    <p><strong>No. of milestones:</strong></p>
    <p><strong>No. of components:</strong></p>
    <p><strong>No. of versions</strong></p>
    
  </body>
</html>
