
<div id="content" class="timeline"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:with="today = format_date(today); yesterday = format_date(yesterday)">

  <table py:for="day, events in groupby(events, key=lambda e: format_date(e.date))"
      class="table table-striped">
    <thead>
      <tr>
        <th>
          ${day}: ${day == today and 'Today' or day == yesterday and 'Yesterday' or None}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr py:for="event in events"
        py:with="highlight = precision and precisedate and timedelta(0) &lt;= (event.date - precisedate) &lt; precision">
        <td>
          <dt class="${classes(event.kind, highlight=highlight)}">
            <a href="${event.render('url', context)}">
              <span class="time">${format_time(event.date, str('%H:%M'))}</span> ${event.render('title', context)}
              <py:if test="event.author">by <span class="author">${format_author(event.author)}</span></py:if>
            </a>
          </dt>
          <dd class="${classes(event.kind, highlight=highlight)}">
            ${event.render('description', context)}
          </dd>
        </td>
      </tr>
    </tbody>
  </table>
</div>
