<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>$title</title>
    <style py:if="default.height is not None">
      .ui-box-panel {
        max-height:${default.height}px !important;
        overflow: auto;
      }
    </style>
    <style>
      .ui-box {
        margin: 10px;
      }
    </style>
  </head>

  <div py:def="widget_container(w)" role="application" 
      class="yui-g ui-box ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
    <div class="ui-box-header ui-widget-header ui-helper-clearfix ui-corner-all">
      <div class="ui-box-title">${w.title}</div>
    </div>
    <div class="ui-box-panel ui-widget-content ui-corner-bottom">
      ${w.content}
    </div>
  </div>

  <body class="yui-skin-sam">
    <div id="content" class="dashboard">
      <div id="doc3" class="yui-t7">  
        <div id="hd" role="banner"><h1>$title</h1></div>  
        <div id="bd" role="main">  
          <div class="yui-g">  
            <div class="yui-u first">  
              <py:for each="(i, w) in enumerate(widgets)">
                <py:if test="i &amp; 1 == 0">
                  ${widget_container(w)}
                </py:if>
              </py:for>
            </div>  
            <div class="yui-u">  
              <py:for each="(i, w) in enumerate(widgets)">
                <py:if test="i &amp; 1 == 1">
                  ${widget_container(w)}
                </py:if>
              </py:for>
            </div>  
          </div>  
        </div>  
        <div id="ft" role="contentinfo">
          <div id="help">
            <strong>Note:</strong> See 
            <a href="${href.wiki('BloodhoundDashboard')}">BloodhoundDashboard</a>
            for help on using the dashboard.
          </div>
        </div>  
      </div>  
    </div>
  </body>
</html>
