
/* Generic */

.round {
  
}

/* Layout */

.bh_body {
  background-color: #f2ebec;
}

.fixed-wrapper {
  bottom: 15px;
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.fixed-wrapper>div {
  left: 0px;
  position: absolute;
  right: 0px;
}

#banner {
  min-height: 60px;
  overflow: hidden;
  top: 0px
}

#pname {
  font-size: 110%;
  font-weight: bold;
}

#mainpanel {
  background-image: url("mainnavbg.png");
  background-repeat: repeat-x;
  height: 38px;
}

#outer-wrapper {
  bottom: 0px;
}

#ctxtnav {
  height: 22px;
  margin: 0px;
  padding: 0px;
}

#main-wrapper {
  border: 2px solid #c9c9c9;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  bottom: 36px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 22px;
  overflow: auto;
}

#main-scroll {
  bottom: 3px;
  left: 3px;
  overflow: auto;
  position: absolute;
  right: 3px;
  top: 3px;
}

#footer {
  border: none;
  bottom: 0;
  color: #999999;
  left: 2px;
  max-height: 34px;
  overflow: hidden;
  position: absolute;
  right: 2px;
}

/* Header & logo */

#logo {
  margin-right: 10px;
}

/* Footer */

#footer #bhpowered { 
  border: 0; 
  float: left;
}

#footer #bhpowered:hover {
  background: transparent;
}

#footer :link, #footer :visited {
  background-color: transparent;
  color: #999999;
}

/* Trac generics */

:link:hover, :visited:hover, .nav li:hover, 
.nav li:hover>:link, .nav li:hover>:visited,
a.prev:hover, a.next:hover {
  background-color: #3366ff;
  color: #FFFFFF;
}

:visited {
  background-color: #FFFFCC;
}

:visited, :link {
  color: #0000CC;
}

/* Forms & inputs */

#input[type="button"], input[type="submit"], input[type="reset"] {
  background-color: transparent;
  background-image: url("btn.png");
  background-repeat: repeat-x;
}

input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
  background-image: url("btnhover.png");
  border: 1px outset #666666;
}

input[type=text]:focus, input.textwidget:focus, textarea:focus {
  background-color: #FFFFCC;
}

#prefs {
  background: none repeat scroll 0 0 #E0ECFF;
  border: 1px outset #CCCCCC;
}

/* Roadmap */

.milestone .info h2 :link:hover, .milestone .info h2 :visited:hover {
  background-color: #CCCCCC;
}

.milestone .info h2 em {
  color: #006633 !important;
}

table.progress td.closed {
  background-image: url("hbar.png") !important;
  background-repeat: repeat-x !important;
}

.milestone .info dt {
  text-decoration: none;
}

