#mainsearch {
  margin-bottom: 0px;
}

#mainnav {
  margin-bottom: 0px;
  border-bottom: 0px solid #333;
}

/* @group Section folding */

.foldable :link,
.foldable :visited {
  background: url(../common/expanded.png) 0 50% no-repeat;
  border: none;
  padding-left: 16px;
}

.collapsed > .foldable :link,
.collapsed > .foldable :visited {
  background-image: url("../common/collapsed.png");
}
.collapsed > div,
.collapsed > table,
.collapsed > ul,
.collapsed > dl {
  display: none
}

/* @end */

/* @group Heading anchors */

.anchor:link, .anchor:visited {
  border: none;
  color: #d7d7d7;
  font-size: .8em;
  vertical-align: text-top;
}
* > .anchor:link, * > .anchor:visited {
  visibility: hidden;
}

h1:hover .anchor, h2:hover .anchor, h3:hover .anchor,
h4:hover .anchor, h5:hover .anchor, h6:hover .anchor,
span:hover .anchor {
  visibility: visible;
  text-decoration: none;
}

h1 .anchor:hover, h2 .anchor:hover, h3 .anchor:hover,
h4 .anchor:hover, h5 .anchor:hover, h6 .anchor:hover,
span:hover .anchor {
  background-color: #f1f1f1;
}

/* @end */

h1:target, h2:target, h3:target, h4:target, h5:target, h6:target,
span:target {
  background: #ffb;
}

/* @group Ensuring buttons align horizontally */

.buttons form,
.buttons form div,
.filters label,
#action label,
#trac-comments-order label,
#changeinfo label,
.iefix #rows label,
label + input,
input + label,
label > input,
div.inlinebuttons,
div.reports h2,
div.reports form {
	display: inline;
}

.filters label {
	margin-right: 10px;
}

/* @end */

/* @group Metanav */

.metanav {
	margin-top: 10px;
	margin-right: 20px;
}

.metanav span {
	margin-left: 10px;
}

/* @end */

/* @group Footer */

.footer {
	margin-top: 20px;
	color: grey;
}

.footer a {
	color: #565656;
}

.footer .pull-right {
	text-align:right;
}

/* @end */

#ticket table.properties td,
#ticket table.properties th {
	font-size: 100%;
}

#ticket footer {
  text-align: right;

}

#activityfeed dt {
  font-weight: normal;
}

#activityfeed dd {
  color: grey;
}

div.reports form,
div.reports .inlinebutton {
  float: right;
  margin-bottom: 0px;
}

div.reports .inlinebutton {
  margin-left: 10px;
}

div.reports h2 {
  font-size: 20px;
}

/* @group Wiki */

/*
textarea.wikitext {
  min-width: 66%;
}
*/

.wiki-toc {
  float: right;
  margin-left: 25px;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 10px;
}

.trac-modifiedby {
  float: right;
}

.trac-modifiedby .trac-print {
  display: none;
}

/* @end */


/* @group Quick Ticket fieldset */

#qct-fieldset {
  position: relative;
}

#qct-fieldset .form-horizontal {
  position: relative;
  left: -65px;
}

#qct-fieldset .controls {
  margin-bottom: 5px;
}

#qct-fieldset #field-summary {
  width: 260px;
}

#qct-box #qct-cancel {
  display: inline;
  color: #08C;
  margin-top: 5px;
  padding: 5px 15px;
}

#qct-create {
  margin-left: 100px;
}

#qct-cancel {
  position: relative;
  top: 5px;
}

/* @group Generic rules */

.full-x {
  width: 100%;
}

h1, h2, h3, h4 {
  font-weight: bold;
  page-break-after: avoid;
}
/* @end */

/* @group Alternate download links */

#altlinks {
  clear: both;
  text-align: center;
}

#altlinks h3 {
  font-size: 12px;
  letter-spacing: normal;
  margin: 0;
}

#altlinks ul {
  list-style: none outside none;
  margin: 0;
  padding: 0 0 1em;
}

#altlinks li.last {
  border-right: medium none;
}

#altlinks li {
  border-right: 1px solid #D7D7D7;
  display: inline;
  font-size: 11px;
  line-height: 1.5;
  padding: 0 1em;
  white-space: nowrap;
}

#altlinks li *:link, #altlinks li *:visited {
  background-repeat: no-repeat;
  border: medium none;
  color: #666666;
  padding: 0 0 2px;
 text-decoration: none;
}

/* @end */

/* @group Inherited wiki styles */

.wiki #preview,
.ticketdraft {
 background: #f8f8f8 url(../common/draft.png);
 margin: 1em 0 2em;
 overflow: auto;
}

.wiki #preview .wikipage {
 padding: 0.8em 0px;
}

/* @end */

/* @group Search */

#results .author,
#results .date {
  color: #090;
}

/* @end */

/* @group Search */

.comment blockquote p {
  font-size: 13px;
}

/* @end */

/* @group Reports */

.report span.foldable {
  display: none;
}

/* @end */
