<!--!
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <py:choose test="product._exists">
      <title py:when="True">Edit Product ${product.name}</title>
      <title py:otherwise="">New Product</title>
    </py:choose>
  </head>

  <body>
    <div id="content" class="product">
      <py:choose test="product._exists">
        <h1 py:when="True">Edit Product ${product.name}</h1>
        <h1 py:otherwise="">New Product</h1>
      </py:choose>

      <form id="edit" action="" method="post">
        <div class="field">
          <input type="hidden" name="action" value="edit" />
          <label>Short name for the product (prefix):<br />
            <input type="text" id="prefix" name="prefix" size="32" value="${product.prefix or req.args.get('prefix')}" readonly="${product._exists and 'readonly' or None}"/>
          </label>
          <label>Name of the product:<br />
            <input type="text" id="name" name="name" size="32" value="${product.name or req.args.get('name')}" />
          </label>
        </div>
        <div class="field">
          <fieldset class="iefix">
            <label for="description" i18n:msg="">Description (you may use <a tabindex="42"
                   href="${href.wiki('WikiFormatting')}">WikiFormatting</a> here):</label>
            <p><textarea id="description" name="description" class="wikitext trac-resizable" rows="10" cols="78">
${product.description}</textarea></p>
          </fieldset>
        </div>
        <div class="buttons" py:choose="product._exists">
          <input py:when="True" type="submit" value="${_('Submit changes')}" />
          <input py:otherwise="" type="submit" value="${_('Add Product')}" />
          <input type="submit" name="cancel" value="${_('Cancel')}" />
        </div>
      </form>
    </div>
  </body>
</html>
