<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Products</title>
  </head>

  <body>
    <div id="content" class="products">
      <h1>Products</h1>

      <div class="products">
        <div py:for="product in products" class="product">

          <div class="info trac-progress">
            <h2><a href="${href.products(product.prefix)}">
              Product: <em>${product.name}</em>
            </a></h2>
          </div>

          <div class="description" xml:space="preserve">
            ${wiki_to_html(context.child(product.resource), product.description)}
          </div>

        </div>
      </div>

      <div py:if="'PRODUCT_CREATE' in perm" class="buttons">
       <form method="get" action="${href.products()}"><div>
        <input type="hidden" name="action" value="new" />
        <input type="submit" value="${_('Add new product')}" />
       </div></form>
      </div>

    </div>
  </body>
</html>
