<!--!
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Products</title>
  </head>

  <body>
    <div id="content" class="products row">
      <h1 class="span8">Products</h1>

      <div class="span8">
        <div py:for="product in products" class="product">

          <div class="info trac-progress">
            <h3><a href="${href.products(product.prefix)}"><em>${product.name}</em></a></h3>
          </div>

          <div class="description" xml:space="preserve">
            ${wiki_to_html(context.child(product.resource), product.description)}
          </div>
        </div>
      </div>

      <div py:if="'PRODUCT_CREATE' in perm" class="btn-group span8">
        <form method="get" action="${href.products()}">
          <input type="hidden" name="action" value="new" />
          <input class="btn" type="submit" value="${_('Add new product')}" />
        </form>
      </div>
    </div>
  </body>
</html>
