<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Delete Product ${product.name}</title>
  </head>

  <body>
    <div id="content" class="product">
      <h1>Delete Product ${product.name}</h1>

    <form id="edit" action="" method="post">
      <div>
        <input type="hidden" name="action" value="delete" />
        <p><strong>Are you sure you want to delete this product?</strong></p>
      </div>
      <div class="buttons">
        <input type="submit" name="cancel" value="${_('Cancel')}" />
        <input type="submit" value="${_('Delete product')}" />
      </div>
    </form>

    </div>
  </body>
</html>
