<!--!
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Product ${product.name}</title>
    <link py:if="'PRODUCT_MODIFY' in perm(product.resource)" rel="alternate" type="application/x-wiki"
          title="Edit this product" href="${href.products(product.prefix, action='edit')}" />
  </head>

  <body>
    <div id="content" class="product">
      <h1>Product ${product.name}</h1>
      <div class="description" xml:space="preserve">
        ${wiki_to_html(context, product.description)}
      </div>

      <div py:if="'PRODUCT_MODIFY' in perm(product.resource) or
                  'PRODUCT_DELETE' in perm(product.resource)"
           class="buttons">
        <form py:if="'PRODUCT_MODIFY' in perm(product.resource)" method="get" action="" id="editproduct">
          <div>
            <input type="hidden" name="action" value="edit" />
            <input type="submit" value="${_('Edit product')}" />
          </div>
        </form>
        <form py:if="'PRODUCT_DELETE' in perm(product.resource)" method="get" action="" id="deleteproduct">
          <div>
            <input type="hidden" name="action" value="delete" />
            <input type="submit" value="${_('Delete product')}" />
          </div>
        </form>
      </div>

    </div>
  </body>
</html>
