.properties {
  color: rgb(120, 120, 120);
  width: 35%;
}

.table th, .table td {
     border-top: none;
 }

.table th {
  width: 250px;
  padding-left: 0px;
}


#query-embed-content {
  width: 300px;
}

#query-results {
  height: 150px;
  overflow: scroll;
  overflow-x: hidden;
}
