/*
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
*/

/* @group Sticky Status */

#stickyStatus {
	position: relative;
	top: 0px;

	background-color: white;
	z-index: 20;
	border-bottom: 1px solid black;
	box-shadow: 0px 5px 3px -3px #888;
}

#belowStatus {
	position: relative;
}

/* @end */

/* @group OOCSS */

ul.oocss {
	list-style-type: none;
	margin: 0px;
}

ul.oocss h6 {
	margin-top: -5px;
}

/* @end */

.section {
	margin-bottom: 20px;
}

.section h2 {
	position: relative;
	display: inline;
	margin-right: 10px;
}

.section .well {
	display: inline;
	padding:4px;
	position: relative;
	top: -6px;
	color: whiteSmoke;
}

.status-overview {
	table-layout: fixed;
	width: 100%;
}

.status-overview td:first-child {
	font-weight: 900;
	text-align: right;
}

.local-nav {
	list-style: none;
	border: 1px solid #888;
	border-radius: 5px;
	display: inline-block;
	background-color: rgb(240, 240, 240);
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.local-nav:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.local-nav:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.local-nav li {
	display: inline-block;
	padding: 2px 5px;
}

.local-nav li:hover {
	background-color: rgb(225, 225, 225);
}

.comment {
	border-top: 1px solid #888;
	margin-bottom: 10px;
}

.comment-meta {
	font-weight: 900;
}

@media (max-width: 480px) {
	h1 {
		font-size: 30px;
		margin-bottom: 0px;
		line-height: 1;
	}

	#stickyStatus {
		width: 100%; 
	}
}