<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    py:strip="" >

  <xi:include href="widget_macros.html" />

  <div class="btn-toolbar" data-toggle="buttons-radio">
    <div class="btn-group offset1"
        py:for="g in layout.toolbar" >
      <button href="#" disabled="${tb_item.widget is None and 'true' or None}" 
          class="btn ${tb_item.widget is None and 'disabled' or None}" 
          py:for="tb_item in g">
        ${tb_item.caption}
      </button>
    </div>
  </div>
</html>

