<!--!
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="bhdashboard"
      py:with="is_global = req.perm.env.product is None">
  <xi:include href="layout.html" />
  <head>
    <title>$title</title>
  </head>

  <body>
    <h2 py:if="not is_global" i18n:msg="name">Dashboard for product <i>${req.perm.env.product.name}</i></h2>

    <!-- Embedding plugin -->
    <a py:if="not is_global" id="embed-btn" href="#embed-modal" role="button" class="btn" data-toggle="modal">Embed Product</a>

    <script language="JavaScript" type="text/javascript">
      function make_iframe(src) {
        iframe = document.createElement("iframe");
        var root = get_root()
        $(iframe).attr("src", root + src);
        $(iframe).attr("width", "480");
        $(iframe).attr("height", "300");
        $(iframe).attr("frameborder", "0");
        $(iframe).attr("scrolling", "yes");
      return $(iframe).get(0).outerHTML;
     }

     $('#embed-btn').click(function() {
       $('#embed-textarea').val(make_iframe(prepare_embed_url('${href.embed("products", req.perm.env.product.prefix)}')));
     });

     function prepare_embed_url(url) {
      var url_array = url.split('/');
      url_array.splice(2,2);
      embed_url = url_array.join("/");
      return embed_url
     }

     function get_root() {
      var root = window.location.protocol + '//' + window.location.host;
      return root
     }
    </script>


    <!-- Embedding Modal -->
    <div id="embed-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Embed this Product</h3>
      </div>
      <div class="modal-body">
        <textarea id="embed-textarea" rows="3" class="input-block-level" style="width:100%;min-width:100%;max-width:100%;">
        </textarea>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>


    <xi:include href="bs_grid.html" />
    <div id="ft" class="row">
      <div id="help" class="span8" i18n:msg="">
        <span class="label label-info">Note:</span> See
        <a href="${href.wiki('BloodhoundDashboard')}">BloodhoundDashboard</a>
        for help on using the dashboard.
      </div>
    </div>
  </body>
</html>
