<div 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    py:strip="" >

  <xi:include href="widget_macros.html" />

  <div py:def="bsdiv(ui)" class="${ui._class}">
    <py:choose test="">
      <py:when test="ui.div">
        <py:for each="_ui in ui.div">${bsdiv(_ui)}</py:for>
      </py:when>
      <py:when test="ui.widgets">
        <py:for each="widx in ui.widgets">
          ${widget_container(widgets[widx])}
        </py:for>
      </py:when>
    </py:choose>
  </div>

  <py:for each="ui in layout.div">
    ${bsdiv(ui)}
  </py:for>
</div>
