Pygments
pytz
Babel
Genshi
-e svn+https://svn.apache.org/repos/asf/incubator/bloodhound/trunk/trac#egg=Trac
-e svn+https://trac-hacks.org/svn/accountmanagerplugin/0.11#egg=TracAccountManager
-e svn+https://svn.apache.org/repos/asf/incubator/bloodhound/trunk/bloodhound_multiproduct#egg=BloodhoundMultiProduct
-e svn+https://trac-hacks.org/svn/themeengineplugin/0.11#egg=TracThemeEngine
-e svn+https://svn.apache.org/repos/asf/incubator/bloodhound/trunk/bloodhound_dashboard#egg=BloodhoundDashboardPlugin
-e svn+https://svn.apache.org/repos/asf/incubator/bloodhound/trunk/bloodhound_theme#egg=BloodhoundTheme
-e svn+https://trac-hacks.org/svn/permredirectplugin/0.11#egg=TracPermRedirect

